# Eclipse
.classpath
.project
.settings/
# Intellij
.idea/
*.iml
*.iws
# Mac
.DS_Store
# Maven
log/
target/




cd
[A[C[B[A[A[[[B[B[B[B[B:w
[A::w

[A[A[C[B[B[B::q
[A[C[B:wq
[D[A[B[C[C[[BZZ
[A[C
::e!













